.gridsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Grid {
  width: 23%;
  opacity: 88%;

  /* font-family: fantasy; */
}
.gridTitle {
  font-size: 20px;
  color: #b0afaf;
}
.gridDesc {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 200px; */
}
.Grid:hover {
  opacity: 1;
}

.gridImg {
  width: 100%;
  height: 250px;
  /* border-radius: 10px; */
}
