.footerContainer {
  margin-top: 50px;
  padding-bottom: 100px;
  display: flex;
  .authorContainer {
    width: 50%;
    .authorName {
      font-size: 30px;
    }
    .iconContainer {
      margin-top: 140px;
      /* display: flex; */
      /* justify-content: space-around; */
    }
  }
}

.iconContainer i {
  padding-right: 20px;
  color: red;
}
